<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag 'application', media: 'all',
                                           'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
            <% flash.each do |message_type, message| %>
              <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
            <% end %>

      <%= yield %>
	<script src=”http://platform.twitter.com/anywhere.js?id=pNxLvLAdrgPoLVB2OSYVLwnTR&v=1″ type=”text/javascript”>
	</script>
	<span id=”login”></span>
	    <script type=”text/javascript”>
    twttr.anywhere(function (T) {
    T(“#login”).connectButton();
    });
    </script>
	<%= render 'layouts/footer' %>
	<%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
